@model IEnumerable<ProyectoRazor.Models.Piloto>
@{
    ViewBag.Title = "Index";
}
<h2>Lista de pilotos</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dorsal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Debut)
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dorsal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Debut)
        </td>
    </tr>
}
</table>
